doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title

    //bower:css
    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/components/font-awesome/css/font-awesome.css')
    //endbower

    block css
      link(rel='stylesheet', href='/css/style.css')

    script(src='http://localhost:35729/livereload.js')
  body
    .container
      #messages_container
        - if (typeof message !== 'undefined' && message !== null)
          - if (typeof message.error !== 'undefined' && message.error.length)
            - each msg in message.error
                div.alert.alert-danger(role="alert")= msg

          - if (typeof message.warning !== 'undefined' && message.warning.length)
            - each msg in message.warning
                div.alert.alert-warning(role="alert")= msg

          - if (typeof message.info !== 'undefined' && message.info.length)
            - each msg in message.info
                div.alert.alert-info(role="alert")= msg

          - if (typeof message.success !== 'undefined' && message.success.length)
            - each msg in message.success
                div.alert.alert-success(role="alert")= msg
      block content

    //bower:js
    script(src='/components/jquery/dist/jquery.js')
    script(src='/components/bootstrap/dist/js/bootstrap.js')
    //endbower

    block js
